@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Serif+Bengali:wght@300;400;600;700&display=swap');
body{
    font-family: 'Noto Serif Bengali', serif;
}
.main-website{
    width: 1185px;
    margin: 0 auto;
    padding: 0px 10px;
    background-color: hwb(206 71% 0% / 0.573);
    padding-bottom: 40px;
    
}
.container img{
    width: 100%;
}
.menu{
    width: 100%;
    background:#004786 ;
    border-bottom: 3px solid #74010D;
    height: 45px;
}
.menu ul {
    width: 100%;
    margin-left: -28px;
}
.menu ul li{
    display: inline-block;
    border-left: 1px solid #fff;
    padding: 10px 15px;
    margin-left: -5px;
}
.menu ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    
}
.menu ul li a:first-child{
    border-left: 0px;
}
.menu ul li:hover{
    background:#016bc9;
}
.active{
    background:#74010D !important;
}
.menu ul li{
    position: relative;
}
.menu ul li ul{
    width: 146px;
    position: absolute;
    top: 41px;
    left: 27px;
    background: #004786;
    padding: 0;
    text-align: center;
    border-top: 2px solid #fff;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    transform: scaleY(0);
    transform-origin: top;
}
.menu ul li ul li{
    border-left: none;
    border-bottom: 1px solid #fff;
    display: block;
    margin-left: 0px;
}
.menu ul li:hover ul{
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}
.notice-bg{
    background: linear-gradient(-90deg,#2f90fe, #010174);
    color: #fff;
    text-align: left;
    padding:5px 10px;
    margin-right: 0px;
    height: 34px;
}
.bg-red{
    background:linear-gradient(-90deg,#fd783f, #9a0000);
}
.bg-sky{
    background:linear-gradient(-90deg,#85deff, #00a8d7);
}
.notice-title{
    font-size: 18px;
}

.nfs{
    width: 10%;
    float: left;
}
.scroll-box{
    background-color: rgb(235, 235, 235);
    height: 35px;
    width: 90%;
    float: left;
    overflow: hidden;
}
.scroll-box ul{
    transform: translateX(100%);
    animation: moving 20s linear infinite;
}
.scroll-box ul li{
    display: inline-block;
    padding: 5px 5px;
    
    
}
.scroll-box ul a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    
}
.scroll-box ul a:hover{
    text-decoration: underline;
}

@keyframes moving{
    0%{transform: translateX(100%);}
    100%{transform: translateX(-100%);}
}

.clear{
    clear: both;
    margin-top: 45px;
}
.notice-img {
    width: 45% !important;
    float: left;
    margin-top: 12px;
    margin-right: 15px;
}
.notice-text {
    width: 100%;
    /* float: right; */
    margin-top: 12px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: justify;
}

.left-50{
    float: left;
    width:48%;
    margin-top: 30px;
}
.right-50{
    float:right;
    width: 48%;
    margin-top: 30px;
}
.notice-content{
    background:#f3f3f3;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
.scroll-notice{
    transform: translateY(100%);
    animation: movingUp 15s linear infinite;
}
.notice-content ul li{
    padding: 6px;
    display: block;
    margin-left: -13px;
    
}

.notice-content ul li a{
    font-size: 13px;
    text-decoration: none;
    color: #333;
}
.notice-content ul li:hover a{
    color: #2f90fe;
    
}
@keyframes movingUp{
    0%{transform: translateY(100%);}
    100%{transform: translateY(-100%);}
}
.info-box{
    width: 100%;
    padding: 10px 20px;
    border: 2px solid #cdc8c8;
    background-color: #fff;
    height: 180px;
    border-top: 0px;
}
.info-box img{
    width: 100px;
    float: left;
}
.info-box nav ul {
    float: left;
}
.info-box nav ul li{
    display: block;
    padding: 2px;
   
}
.info-box nav ul li a{
    text-decoration: none;
    color: #333;
    font-size: 13px;
    padding-left: 2px;
}
.info-box nav ul li a:hover{
    text-decoration: underline;
}
.info{
    margin-bottom: 31px;
}
.notice-red ul li{
    display: block;
    padding: 6px 10px;
    background:linear-gradient(-90deg, #DE182C, #C71528);
    margin-top: 6px;
    margin-left: -30px;
}
.notice-red ul i{
    color: white;
}
.notice-red ul a{
    text-decoration: none;
    font-size: 13px;
    color: white;
    padding-left: 2px;
}
.notice-red ul li:hover {
    background: linear-gradient(-90deg, #f7c318, #C71528);
    cursor: pointer;
}
section#footer {
    background: #33a0fe;
    padding: 10px 30px;
    color: #fff;
}
.copyright-text{
    font-size: 17px;
}
.dev-text{
    text-align: right;
    font-size: 15px;
}
.dev-text a{
    text-decoration: none;
    color: #fff;
    margin-left: 3px;
}
.dev-text a:hover{
    text-decoration: underline;
}
.header{
    background: linear-gradient(180deg, rgb(42, 103, 255),rgb(9, 89, 171));
    width: 100%;
    height: 176px;
    padding: 21px 70px;
}
.header-text {
    text-align: center;
    padding-left: 9px;
    display: inline-block;
}

.logo-img {
    width: 130px !important;
    margin-top: -80px;
}

.header-text h2 {
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 4px;
    color: #fff;
}
.header-text h4{
    font-size: 25px;
    color: #fff;
    letter-spacing: 4px;
}
.member-box {
    width: 250px;
    height: 294px;
    border: 2px solid #d7d7d7;
    text-align: center;
    padding: 10px 15px;
      padding-right: 15px;
    padding-right: 20px;
    background: white;
    border-radius: 5px;
    margin-top: 30px;
    display: inline-block;
    margin-left: 30px;
}
.member-box img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}
.page-title {
    text-align: center;
    margin-top: 16px;
    border-bottom: 4px double gray;
  }
.content-area.col-lg-12{
    min-height: 350px;
}
.slick-dotted.slick-slider{
    clear: both;
}